.orange {
    background-color:rgb(221, 165, 101);
    border: 0.1vw solid black;
    color: black;
    text-align: center;
    width:75%;
    height: 6vw;
    text-decoration: none;
    display: block;
    font-size: 3vw;
  }